%h1 Listing folders

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @folders.each do |folder|
    %tr
      %td= folder.name
      %td= link_to 'Show', folder
      %td= link_to 'Edit', edit_folder_path(folder)
      %td= link_to 'Destroy', folder, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Folder', new_folder_path
