= simple_form_for @payload, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.input :name, :class => 'text_field'
  .control-group 
    = f.input :payload_type, :class => 'select', :collection => [['Script', 'script'], ['Package(s)', 'package']], :default => 'Script'
  .control-group.pl_type_area
    = f.input :script, :class => 'text_area', :label_html => {:class => 'pl_type_label'}
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), payloads_path, :class => 'btn'
