.fluid-container 
  .row-fluid
    .span4
      %h3 Payloads (scripts)
      %table.table.table-striped.table-condensed.datatable
        %thead
          %tr
            %th ID
            %th{:width => "100%"} Name
            %th
        %tbody
          - Payload.scripts.each do |payload|
            %tr
              %td= link_to payload.id, payload_path(payload)
              %td= payload.name

              %td= payload_linkable "Run", object, payload, nil, 'btn btn-primary btn-mini'
              -#%td= link_to "Run", run_payload_server_path(@server.id, payload.id), :class => "btn btn-primary btn-mini", :remote => true
    .span4
      %h3 Packages
      %table.table.table-striped.table-condensed.datatable
        %thead
          %tr
            %th ID
            %th{:width => "70%"} Name
            %th 
        %tbody
          - Payload.packages.each do |payload|
            %tr
              %td= link_to payload.id, payload_path(payload)
              %td= payload.name
              %td 
                - if @server.payload_installed?(payload)
                  = payload_linkable "Installed", object, payload, 'install', 'btn btn-info btn-mini'
                - else 
                  = payload_linkable "Install", object, payload, 'install', 'btn btn-primary btn-mini'
                = payload_linkable "Remove", object, payload, 'remove', 'btn btn-danger btn-mini'
    .span4
      %h3 Payload Groups
      %table.table.table-striped.table-condensed.datatable
        %thead
          %tr
            %th ID
            %th{:width => "100%"} Name
            %th 
        %tbody
          - PayloadGroup.all.each do |payload_group|
            %tr
              %td= link_to payload_group.id, payload_group
              %td= payload_group.name
              %td= link_to "Run", run_payload_group_path(:id => payload_group.id, :object_type => object.class, :object_id => object.id), :class => 'btn btn-mini btn-primary'
