.page-header
  %h1 Scripts
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Created At
      %th
  %tbody
    - @payloads.each do |payload|
      %tr
        %td= link_to payload.id, payload_path(payload)
        %td= payload.name
        %td=l payload.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_payload_path(payload), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), payload_path(payload), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_payload_path, :class => 'btn btn-primary'
