- model_class = @payload.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @payload.name
%p
  %strong= model_class.human_attribute_name(:script) + ':'
  %br
  = @payload.script

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), payloads_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_payload_path(@payload), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), payload_path(@payload), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
