%div
  %b
    Pending Payloads: 
  - @server.payload_history.pending.each do |pl|  #.collect{|x| x.payload.name }.join(', ')
    %span{:id => "ph_#{pl.id}"}
      = pl.payload.name 
      = link_to raw("<sup>x</sup>"), pl, :method => :delete, :remote => true, :onclick => "javascript:$('#ph_#{pl.id}').hide()"
%hr
- @server.payload_history.each do |pl| 
  %b= pl.payload
  %pre.payload_output
    = pl.output

