= simple_form_for @server, :html => { :class => 'form-horizontal' } do |f|
  .control-group 
    = f.input :ssh_user, :class => 'text_field'
  .control-group
    = f.input :dns_name, :class => 'text_field'
  .control-group
    = f.input :ip_address, :class => 'text_field'
  .control-group
    = f.input :server_group_id, :collection => ServerGroup.all, :class => 'text_field'
  .control-group
    = f.input :server_role_id, :collection => ServerRole.all, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), servers_path, :class => 'btn'
