- model_class = Server.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:dns_name)
      %th= model_class.human_attribute_name(:ip_address)
      %th= model_class.human_attribute_name(:server_group_id)
      %th= model_class.human_attribute_name(:server_role_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @servers.each do |server|
      %tr
        %td= link_to server.id, server_path(server)
        %td= link_to server.dns_name, server
        %td= link_to server.ip_address, "ssh://#{server.ssh_user}@#{server.ip_address}"
        %td= server.server_group
        %td= server.server_role_id
        %td=l server.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_server_path(server), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), server_path(server), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_server_path, :class => 'btn btn-primary'
