- model_class = @server.class
.page-header
  %h1
    =@server.dns_name 
  %h4= link_to "ssh://#{@server.ssh_user}@#{@server.ip_address}", "ssh://#{@server.ssh_user}@#{@server.ip_address}"

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), servers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_server_path(@server), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), server_path(@server), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'

= render 'payloads/list', {:object => @server}

#payload_history 
:javascript 
  payload_history('#payload_history', #{@server.id})
