%h1 Listing rocket_files

%table
  %tr
    %th Name
    %th Content
    %th Folder
    %th
    %th
    %th

  - @rocket_files.each do |rocket_file|
    %tr
      %td= rocket_file.name
      %td= rocket_file.content
      %td= rocket_file.folder_id
      %td= link_to 'Show', rocket_file
      %td= link_to 'Edit', edit_rocket_file_path(rocket_file)
      %td= link_to 'Destroy', rocket_file, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Rocket file', new_rocket_file_path
