%p#notice= notice

%p
  %b Name:
  = @rocket_file.name
%p
  %b Content:
  = @rocket_file.content
%p
  %b Folder:
  = @rocket_file.folder_id

= link_to 'Edit', edit_rocket_file_path(@rocket_file)
\|
= link_to 'Back', rocket_files_path
