%h1
  =@report.name 
  ran on 
  =@report_instance.created_at
%table.table.table-bordered
  %thead 
    %tr
      %th Host 
      %th Result 
  - @report_instance.report_results.each do |r| 
    %tr 
      %td
        = r.server.dns_name 
        (
        = r.server.ip_address
        )
      %td= r.result
