- model_class = ServerRole.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @server_roles.each do |server_role|
      %tr
        %td= link_to server_role.id, server_role_path(server_role)
        %td= server_role.name
        %td=l server_role.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_server_role_path(server_role), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), server_role_path(server_role), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_server_role_path, :class => 'btn btn-primary'
