- model_class = @server_role.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @server_role.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), server_roles_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_server_role_path(@server_role), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), server_role_path(@server_role), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
