- model_class = Payload.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:script)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @payload_group.payloads.each do |payload|
      %tr
        %td= link_to payload.id, payload_path(payload)
        %td= payload.name
        %td= payload.script
        %td=l payload.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_payload_path(payload), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), payload_path(payload), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_payload_path, :class => 'btn btn-primary'
