- model_class = ServerGroup.new.class
.pull-left
  .page-header
    %h1=t '.title', :default => model_class.model_name.human.pluralize
.pull-right 
  = link_to "New Group", new_server_group_path, :class => "btn btn-primary"
.clearfix
- @server_groups.in_groups_of(3) do |group|
  .container-fluid 
    .fluid-row
      - group.compact.each do |server_group|
        .span4
          .well
            .pull-left
              %h3=link_to server_group.name, server_group
            .pull-right
              = link_to "Edit", edit_server_group_path(server_group), :class => "btn btn-mini"
              = link_to "Destroy", server_group_path(server_group), :class => "btn btn-mini btn-danger",:method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))

