.pull-left 
  .page-header
    %h1 
      =@server_group.name
      Group
.pull-right
  = link_to t('.back', :default => t("helpers.links.back")), server_groups_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_server_group_path(@server_group), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), server_group_path(@server_group), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'

.clearfix

= render 'payloads/list', {:object => @server_group}
%hr
%h3 Hosts
.fluid-container 
  .row-fluid
  - @server_group.servers.each_with_index do |server, index| 
    .span5
      .pull-left
        =link_to "+/-", "javascript:void(0);", :onclick => "$('#payload_history_#{server.id}').toggle();"
        %b=server 
      .pull-right
        =link_to image_tag("icons/terminal.png"), "ssh://#{server.ssh_user}@#{server.ip_address}"
      .clearfix
      %div{:id => "payload_history_#{server.id}", :class => "pl_history well"}
      :javascript
        payload_history("#payload_history_#{server.id}", #{server.id})
