.nav { 
    li { 
        border: { 
            right: 1px solid #ccc;
        }
    }
}
.logo { 
    position: absolute;
    top: -4px; 
}
.logotext { 
    padding-left: 48px;
}

pre.payload_output { 
    max-height: 150px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.dataTables_length { 
    display: none; 
    visibility: hidden;
    float: left;
    select { 
        width: 65px;
    }
}
.dataTables_filter { 
    float: right;
}
