// Place all the styles related to the Payloads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payload_output { 
    background-color: #111; 
    color: #fff;
}

.pl_history { 
    height: 150px; 
    overflow-y: scroll;
    overflow-x: hidden;
}
