= simple_form_for @payload_group, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), payload_groups_path, :class => 'btn'
