- model_class = @payload_group.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @payload_group.name

= form_for :pg, :url => add_payload_payload_group_path(@payload_group) do |f|
  = select('pg', 'payload_id', Payload.values_of(:name, :id))
  = submit_tag "+", :class => "btn btn-primary btn-small"

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), payload_groups_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_payload_group_path(@payload_group), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), payload_group_path(@payload_group), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'

= render 'payload_group_payloads/list'
