%h1 Listing report_results

%table
  %tr
    %th Report
    %th Server
    %th Result
    %th
    %th
    %th

  - @report_results.each do |report_result|
    %tr
      %td= report_result.report_id
      %td= report_result.server_id
      %td= report_result.result
      %td= link_to 'Show', report_result
      %td= link_to 'Edit', edit_report_result_path(report_result)
      %td= link_to 'Destroy', report_result, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Report result', new_report_result_path
