%p#notice= notice

%p
  %b Report:
  = @report_result.report_id
%p
  %b Server:
  = @report_result.server_id
%p
  %b Result:
  = @report_result.result

= link_to 'Edit', edit_report_result_path(@report_result)
\|
= link_to 'Back', report_results_path
