= simple_form_for @report, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.input :name
  .control-group
    = f.input :payload_id, :collection => Payload.scripts
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), reports_path, :class => 'btn'
