- model_class = Report.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:payload_id)
      %th Last Run
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @reports.each do |report|
      %tr
        %td= link_to report.id, report_path(report)
        %td= link_to report.name, report
        %td= report.payload.name
        - report_instance = report.report_instances.last
        - if report_instance
          %td=link_to report_instance.created_at, report_report_instance_path(report, report_instance.id)
        - else 
          %td Never Run
        %td
          = link_to "Run", run_report_path(report), :class => 'btn btn-primary btn-mini'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_report_path(report), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), report_path(report), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_report_path, :class => 'btn btn-primary'
