%h1= @report.name
= @report.payload.name

%table.table
  %tr 
    %th Date
    %th Results
  - @report.report_instances.each do |ri| 
    %tr 
      %td= link_to ri.created_at, report_report_instance_path(@report, ri)
      %td= ri.report_results.count


