!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "RocketProvisioner"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %a.brand(href="/") 
              .logo
                = image_tag('rocket_48.png')
              .logotext
                Provisioner 
          .container.nav-collapse
            %ul.nav
              %li= link_to "Server Groups", server_groups_path
              %li= link_to "Servers", servers_path
              %li= link_to "Roles", server_roles_path
              %li= link_to "Payload Groups", payload_groups_path
              %li= link_to "Payloads", payloads_path
              %li= link_to "Reports", reports_path

    .container-fluid
      .fluid-container
        .row-fluid
          .span12.page
            #alert_area
              - flash.each do |key, value|
                .centered_pill
                  %center
                    = content_tag(:div, value, :class => "alert alert-#{key}")
      .row-fluid
        .span12
          = yield
    
      %footer
        %p &copy; Company 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
